body {
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background-image: url(https://media.istockphoto.com/vectors/vector-cartoon-clear-ocean-sea-background-with-empty-blue-sky-vector-id1028287226?k=20&m=1028287226&s=170667a&w=0&h=Pb1u_eqsbMR7ukfOqx8mjJ2ekfXsb_hRDkHmclwkjgM=);
    background-repeat: no-repeat;
    background-size: cover;
}
#page{
    width: 90%;
    height: 90%;
    overflow: hidden;
}
/* ป้ายไม้ */
.logo{
    position: absolute;
    top:0%;
    right:55%;
}

/* ปุ่ม ออกเดินทาง  */
.gogo{
    border-radius: 30px;
    background-color: rgb(247, 238, 221);
    color:black;
    border:3px solid hsl(180, 42%, 71%);
    font-size: 25px;
    width:400px;
    height:60px;
    cursor: pointer;
    position: absolute;
    bottom:35%;
    left: 8%;
}
.gogo:hover {
    background-color: hsl(180, 42%, 71%);
    color:white;
    border:3px solid hsl(180, 42%, 71%);

}
.gogo span {
    cursor:pointer;
}

/* รูปเรือตรงปุ่ม ออกเดินทาง  */
.shipicon{
    position: absolute;
    bottom:35.5%;
    left: 23%;
    cursor: pointer;
}

/* ปุ่มโฮม */
.homeicon{
    width: 100px;
    height: 70px;
    position: absolute;
    bottom:5%;
    left: 1%;
    background: white;
    border-radius: 30px;
    cursor: pointer;

}
.homeicon:hover{
    box-shadow: 0 2px 2px 2px hsl(180, 42%, 20%);
}

/* เรือแคนูหน้าโฮม  */
.canoe{
    position: absolute;
    bottom: 22%;
    right: 15%;
    animation:shipshake 2s infinite alternate;
}

.cloud1{
    width: 20%;
    animation:cloudmove 9s infinite alternate;
}
.cloud2{
    width: 15%;
    position: absolute;
    top: 4%;
    right: 25%;
    animation:cloudmove 10s infinite alternate;
}
.cloud3{
    width: 20%;
    position: absolute;
    right: 10%;
    animation:cloudmove 7s infinite alternate;
}

/* อนิเมชันของเรือขยับขึ้นลงๆ  */
@keyframes shipshake {
    from {transform: translateY(0px)}
    to {transform: translateY(20px)}
}
/* อนิเมชันของก้อนเมฆลอยๆ  */
@keyframes cloudmove {
    from {transform: translateX(0px);}
    to {transform: translateX(100px);}
}

/* เปลี่ยนหน้าจ้า */
#page[data-scene="canoepage"] .logo{
    width: 0;
    height: 0;
}